
.App .PlaycardsContainer, .App .Carousel, .App .footer {
  padding-top: 100px;
}

.PlaycardsContainer {
  padding-top: 120px;
}

.BackgroundComponent {
  position: relative;
  z-index: 0;
  background-color: #f0f0f0;
  padding-top: 130px;
  padding-bottom: 5px;
  box-shadow: 10px, 10px;
  margin-bottom: 10px;
}
